/* .contenedorTarjetas{
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 40px;
    gap: 5px;
    
}
.imagenProducto {

width: 60%;
height: 400px;
text-align: center;
margin: auto;


}
.descripcionProducto{
    border: 1px solid black;
    width: 30%;
    height: 400px;
    text-align: center;
    margin-right: 40px; 
    padding: 10px;
    
}
.contenedorMasOpciones{
    
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    gap: 5px;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
    
}
.imagenProducto img{
    width: 60%;
    height: 60%;
}
.contenedorMasOpciones img{
    width: 100%;
    height: 150px;
    ;
}
@media screen and (max-width: 480px){
    .contenedorTarjetas{
        align-items: center;
        margin: auto;
    }
    .imagenProducto img{
        width: 80%;
        height: 80%;
    }
    .descripcionProducto{
        width: auto;
        margin: 20px 20px 20px 20px ;
    }
    .imagenProducto {
        width: auto;
    }
    .contenedorMasOpciones{
        margin: 30px 30px 30px 60px;
    }

} */
#imagen img{
    width: 100%;
}
main section hr{
    border: #ff2600 solid 2px;
}
@media(max-width: 767px){
    #imagen{
        width: 100vw !important;
    }
    #detalle h2{
        font-size: 2em;
    }
    #detalle a{
        width: 100%;
    }
}
@media(min-width: 768px){
    main section{
        width: 100vw;
    }
    #detalle{
        width: 50%;
    }
    #detalle h2{
        font-size: 2em;
    }
    #detalle a{
        width: 100%;
    }
}